.body {
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd;
    text-align: left;
    background-color: #282e38;
    padding-bottom: 65px;
    overflow-x: hidden;
	position: absolute;
	min-height: 100%;
}

.card-box {
    background-color: #313844;
    padding: 1.5rem;
    -webkit-box-shadow: 2px 3px 8px #21282f;
    box-shadow: 2px 3px 8px #21282f;
    margin-bottom: 24px;
    border-radius: 3px;
}

#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#topnav {
    background: #353d4a;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1001;
    padding: 0 12px;
    -webkit-box-shadow: 0 0 35px 0 rgba(54,61,71,.15);
    box-shadow: 0 0 35px 0 rgba(54,61,71,.15);
}

@media (min-width:992px) {
    body .navbar-custom {
        padding: 0 calc(24px / 2)
    }
}

.navbar-custom {
    background-color: #353d4a !important;
    padding: 0 calc(24px / 2) 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
	-webkit-box-shadow: 2px 3px 8px #21282f;
    box-shadow: 2px 3px 8px #21282f;
}

@media (min-width:1200px) {
    body[data-layout=horizontal] .container-fluid {
        max-width: 90%
    }
}

.logo-box {
    height: 70px;
    width: auto;
    float: left;
    background-color: transparent;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.logo {
    display: block;
    line-height: 70px;
}

.navbar-custom .topnav-menu > li {
    float: left;
}

.app-name {
    margin-left: 0;
}

.navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: #dee2e6;
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px;
}

.waves-effect {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.site-title {
    font-size: 20px;
}

.content-page {
    margin-left: 0;
    margin-top: 0;
    padding: 80px 12px 0 12px;
    overflow: hidden;
    min-height: 80vh;
}

.header-title {
    font-size: 1rem;
    margin: 0 0 7px 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 600;
    font-family: Karla,sans-serif;
    color: #f7f7f7;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.col-form-label {
    padding-top: calc(.45rem + 1px);
    padding-bottom: calc(.45rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

label {
    font-weight: 500;
    color: #f7f7f7;
    display: inline-block;
}

.form-control-sm {
    display: block !important;
    width: 100% !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #adb5bd !important;
    background-color: #3a4250 !important;
    background-clip: padding-box !important;
    border: 1px solid #424c5c !important;
    border-radius: .2rem !important;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
}

.input-group {
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
    width: 100% !important;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #71b6f9 !important;
    border-color: #71b6f9 !important;
}

    .btn-primary:hover {
        color: #fff !important;
        background-color: #4ca3f7 !important;
        border-color: #409df7 !important;
    }

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
    position: relative !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    width: 1% !important;
    min-width: 0 !important;
    margin-bottom: 0 !important;
}

button, input, optgroup, select, textarea {
    margin: 0 !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.footer {
    bottom: 0px !important;
    padding: 19px 15px 20px !important;
    position: absolute !important;
    right: 0px !important;
    left: 0px !important;
    color: #adb5bd !important;
    background-color: #2c333e !important;
    -webkit-transition: all .2s ease-out !important;
    transition: all .2s ease-out !important;
    display: block !important;
}

    .footer .footer-links a:first-of-type {
        margin-left: 0;
    }

    .footer .footer-links a {
        color: #adb5bd;
        margin-left: 1.5rem;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
	
@media (max-width:850px) {
    .footer {
        left: 0 !important;
        text-align: center;
		font-size: 10px;
    }
	
	.body {
		margin: 0;
		font-family: Roboto,sans-serif;
		font-size: .9rem;
		font-weight: 400;
		line-height: 1.5;
		color: #adb5bd;
		text-align: left;
		background-color: #282e38;
		padding-bottom: 25px;
		overflow-x: hidden;
		position: absolute;
	}
	
	#wrapper {
		height: 100%;
		overflow: hidden;
		width: 100%;
		padding-bottom: 30px;
	}
}

a[data-toggle='collapse']:hover {
	text-decoration: none;
}

.expand_caret {
    transform: scale(1.6);
    margin-left: 8px !important;
    margin-top: -4px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

a[aria-expanded='false'] > h4 > .expand_caret {
    transform: scale(1.6) rotate(-180deg);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

h4 {
    border-bottom: 2px solid #ffffff;
    position: relative;
	padding-bottom: 2px;
}

.collapse-title:hover {
    transition: color .5s;
}

.collapse-title::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #71b6f9;
	transition: width 0.5s;
	position: absolute;
	margin-top: 2px;
}

.collapse-title:hover::after {
	width: 100%;
}

a {
	color: #71b6f9 !important;
}

a:hover {
	color: #4ca3f7 !important;
}

.label-button {
	font-size: 11px;
    font-style: italic;
}

.switchery {
	border-color: #424c5c !important;
}

.help-icon {
	font-size: 12px;
	color: #6c757d !important;
}

.help-icon:hover {
	color: #6c757d !important;
	text-decoration: none;
}

.popover {
	border-radius: 3px !important;
}

.popover-header {
	background-color: #282e38 !important;
	font-size: 13px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-color: rgba(0,0,0,.2);
}